<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/discover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Markrate | Discover</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/870997168469708861/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; Gurugram, Haryana</span>
        <div class="right">
            <a href="/discover" id="active"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/account"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <div class="input">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search for local stores, restaurants" />
        </div>
        <div class="cards">
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
                <div class="card-content">
                    <p class="category">Snacks</p>
                    <p class="name">Baba Ka Dhaba</p>
                    <p class="address">Gurugram, Haryana</p>
                    <p class="header">Reviews</p>
                    <p class="review">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                    </p>
                    <p class="header">Status</p>
                    <p class="status">Open</p>
                    <button>View Page</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>