<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/markrate-small.png" sizes="16x16" type="image/png">
    <title>Markrate | Leaderboard</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/871308102329307146/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; Gurugram, Haryana</span>
        <div class="right">
            <a href="/discover"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard" id="active"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/profile"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <h1>Markrate Leaderboard</h1>
        <p>Leaderboard of all users sorted according to the amount of Markrates earned.</p>
        <div class="input">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search users" />
        </div>
        <table class="initial-table">
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th style="width: 28%;">Markrates earned</th>
            </tr>
        </table>
        <table class="second-table">
            <tr>
                <th style="width: 17%;">1</th>
                <th style="width: 37%;"><a href="https://twitter.com/${user.username}" target="_blank" style="text-decoration: none;">Anshul Saha<a></th>
                <th style="width: 20%;">30</th>
            </tr>
        </table>
        <table class="second-table">
            <tr>
                <th style="width: 17%;">2</th>
                <th style="width: 37%;"><a href="https://twitter.com/${user.username}" target="_blank" style="text-decoration: none;">Anshul Saha<a></th>
                <th style="width: 20%;">30</th>
            </tr>
        </table>
        <table class="second-table">
            <tr>
                <th style="width: 17%;">3</th>
                <th style="width: 37%;"><a href="https://twitter.com/${user.username}" target="_blank" style="text-decoration: none;">Anshul Saha<a></th>
                <th style="width: 20%;">30</th>
            </tr>
        </table>
    </main>
</body>
</html>