<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Markrate | Leaderboard</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/870997168469708861/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; Gurugram, Haryana</span>
        <div class="right">
            <a href="/discover"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard" id="active"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/account"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <h1>Markrate Leaderboard</h1>
        <p>Leaderboard of all users sorted according to the amount of Mark8s earned.</p>
        <div class="input">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search users" />
        </div>
    </main>
</body>
</html>