<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <title>Markrate | Login</title>
</head>
<body>
    <div class="left"></div>
    <div class="right">
        <div class="nav">
            <nav>
                <div class="logo">
                    <img src="https://cdn.discordapp.com/attachments/870661503487991869/870997168469708861/unknown.png">
                </div>
                <a href="/discover">Discover</a>
                <a href="/leaderboard">Leaderboard</a>
            </nav> 
            <main>
                <h1>Begin by signing with Markrate!</h1>
                <p style="color: #747474;">Set up your Markrate account and help local business!</p>
                <form method="POST" action="/login">
                    <button type="submit">
                        <img src="https://cdn.discordapp.com/attachments/870661503487991869/871008913523376178/ggl-removebg-preview.png">
                        <p id="btn-text">Continue with Google</p>
                    </button>
                </form>
            </main>
        <div>
    </div>
</body>
</html>