<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/place.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Markrate | Place</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/870997168469708861/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; Gurugram, Haryana</span>
        <div class="right">
            <a href="/discover" id="active"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/account"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <div class="main-left">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/871122702851784774/unknown.png" class="card-image">
            <div class="card-content">
                <p class="name">Baba Ka Dhaba</p>
                <p class="address">Gurugram, Haryana</p>
                <button><i class="fas fa-map-marker-alt"></i>&nbsp; Show location</button>
                <p class="header">Reviews</p>
                <p class="review">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: #FF6600;margin-left: 0vw;">(21)</span>
                </p>
                <p class="header" style="margin-top: 1.5vw;">Contact</p>
                <p class="phone-number"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp; +91 9810675988</p>
                <p class="phone-number"><i class="fas fa-globe"></i>&nbsp;&nbsp; https://babakabhadba.com</p>
                <p class="header" style="margin-top: 1.5vw;">Types</p>
                <p class="phone-number">Point of Interest, Establishment</p>
            </div>
        </div>
        <div class="main-right">
            <h1>Verify Promotion</h1>
            <p>Users need to verify their promotional posts in order to get the calculated redeemable credits. These posts have to clear in their content about the promotion.</p>
            <p class="header">You can verify your promotion with:</p>
            <a href="/verify/post"><button><i class="fab fa-instagram"></i>&nbsp; Instagram Posts</button></a>
            <a href="/verify/tweet"><button><i class="fab fa-twitter"></i>&nbsp; Twitter Tweets</button></a>
        </div>
    </main>
</body>
</html>