<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Markrate | Setup</title>
</head>
<body>
    <div class="left"></div>
    <div class="right">
        <div class="nav">
            <nav>
                <div class="logo">
                    <img src="https://cdn.discordapp.com/attachments/870661503487991869/870997168469708861/unknown.png">
                </div>
                <a href="/discover">Discover</a>
                <a href="/leaderboard">Leaderboard</a>
            </nav> 
            <main>
                <h1>Set up your account</h1>
                <p style="color: #747474;">Set up your Markrate account and help local business!</p>
                <div class="location">
                    <p>Your location</p>
                    <input type="text" placeholder="Mayfield Garden, Sector-51, Gugraon, Haryana">
                </div>
                <div class="location">
                    <p>Link your socials</p>
                    <div class="social">
                        <div class="namelogo">
                            <i class="fab fa-instagram"></i>
                            <p>Instagram</p>
                        </div>
                        <button class="insta-connect-button" id="connected">Connect</button>
                    </div>
                    <div class="social">
                        <div class="namelogo">
                            <i class="fab fa-twitter"></i>
                            <p>Twitter</p>
                        </div>
                        <button class="twitter-connect-button" style="margin-left: 10.8vw;">Connect</button>
                    </div>
                    <div class="social">
                        <div class="namelogo">
                            <i class="fab fa-facebook"></i>
                            <p>Facebook</p>
                        </div>
                        <button class="facebook-connect-button" style="margin-left: 9.2vw;">Connect</button>
                    </div>
                    <div class="social">
                        <div class="namelogo">
                            <i class="fab fa-snapchat"></i>
                            <p>Snapchat</p>
                        </div>
                        <button class="snapchat-connect-button" style="margin-left: 9.2vw;">Connect</button>
                    </div>
                </div>
                <form id="setup-form">
                    <button class="finish" type="submit">Finish</button>
                </form>
            </main>
        <div>
    </div>
    <script src="/js/setup.js"></script>
</body>
</html>