@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* navbar */

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    height: 3.5vw;
    padding-top: 1.5vw;
}

.current-location {
    margin-top: 0.2vw;
    color: #747474;
    font-family: 'Poppins';
    margin-left: 3vw;
}

.current-location i {
    font-size: 1.1vw;
}

nav .logo img {
    margin-left: 10vw;
    width: 8vw;
    height: auto;
}

.right {
    position: absolute;
    margin-top: 0.2vw;
    right: 0;
    margin-right: 10vw;
}

.right a {
    text-decoration: none;
    font-family: 'Poppins';
    color: #747474;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 2vw;
}

#active {
    color: #FF6600;
}

/* navbar ends */

main {
    margin-top: 7vw;
    font-family: 'Poppins';
    width: 66vw;
    margin-left: 15vw;
}

main p {
    margin-top: -1vw;
    font-size: 0.9vw;
    color: #747474;
}

main .input {
    margin: 0;
    width: 24vw;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding-left: 1vw;
    height: 2vw;
    padding-top: 0.5vw;
    margin-top: 1.5vw;
}

main .input i {
    color: #C4C4C4;
}

main .input input {
    font-size: 0.9vw;
    padding-left: 0.6vw;
    font-family: 'Poppins';
    border: none;
    width: 22vw;
}

main .input input:focus {
    outline: none;
}