<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/verify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/markrate-small.png" sizes="16x16" type="image/png">
    <title>Markrate | Verify</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/870661503487991869/871308102329307146/unknown.png">
        </div>
        <span class="current-location"><i class="fas fa-map-marker-alt"></i>&nbsp; Gurugram, Haryana</span>
        <div class="right">
            <a href="/discover" id="active"><i class="far fa-compass"></i>&nbsp; Discover</a>
            <a href="/leaderboard"><i class="fas fa-trophy"></i>&nbsp; Leaderboard</a>
            <a href="/profile"><i class="far fa-user"></i>&nbsp; Account</a>
        </div>
    </nav>
    <main>
        <div class="main-left">
            <p class="go-back"><a href="/place" style="text-decoration: none; color: #747474">< go back</a></p>
            <h1><i class="fab fa-instagram"></i>&nbsp; Instagram post verification</h1>
            <p class="logged-in">Currently logged in as @samvrantsamantaray</p>
            <p class="label">Enter instagram post link</p>
            <div class="input">
                <i class="fas fa-link"></i>
                <input type="text" placeholder="Enter link here" />
            </div>
            <button>Verify promotion ></button>
        </div>
        <div class="main-right">
            <h1 style="color: #FF6600;">Verification Rates</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit commodo lorem turpis tincidunt in magna. Amet, eget libero lacinia suspendisse morbi donec sit tempor. Pharetra blandit.</p>
            <img class="info" src="https://cdn.discordapp.com/attachments/870661503487991869/871273316835545150/unknown.png">
            <p>F is the number of followers the user has on the their platform (Instagram, Twitter etc.)</p>
        </div>
    </main>
</body>
</html>